@tailwind base;
@tailwind components;
@tailwind utilities;

.otpInput{
    @apply bg-gray-600 w-14 h-14 p-2 m-2 rounded outline-none appearance-none focus:ring-2 ring-gray-50 text-2xl text-center
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    @apply appearance-none m-0
}

input[type="number"]{
    -moz-appearance: textfield;
}

textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button{
    @apply appearance-none m-0 resize-none
}

textarea{
    resize: none;
    overflow: hidden;
}